
BODY {
    perspective: 500px;

}
.cube3d__container, .cube3d__side{
    width: 100px;
    height: 100px;

}

.animation_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.cube3d__container{


    animation: anima 3s linear infinite;
    transform-style: preserve-3d;

}

.cube3d__side{
    position: absolute;
    border: 1px solid #000;
    border-radius: 3%;
    opacity: 0.7;

}

.cube3d__left{
    /*	transform: rotateY(90deg) translateZ(50px);*/

    animation: pulse-left 5s ease-in-out infinite;
    background-color: green;
}

.cube3d__right{
    /*	transform: rotateY(90deg) translateZ(-50px);*/

    animation: pulse-right 5s ease-in-out infinite;
    background-color: #337ab7;
}

.cube3d__top{
    /*	transform: rotateX(90deg) translateZ(-50px);*/

    animation: pulse-top 5s ease-in-out infinite;
    background-color: yellow;
}

.cube3d__bottom{
    /*	transform: rotateX(90deg) translateZ(50px);*/

    animation: pulse-bottom 5s ease-in-out infinite;
    background-color: purple;
}

.cube3d__front{
    /*	transform: translateZ(50px);*/
    animation: pulse-front 5s ease-in-out infinite;
    background-color: orange;
}

.cube3d__back{
    /*	transform: translateZ(-50px);*/
    animation: pulse-back 5s ease-in-out infinite;
    background-color: red;
}

@keyframes anima{
    100% {transform: rotateY(360deg) rotateZ(360deg); }
}

@keyframes pulse-left{
    0% {transform: rotateY(90deg) translateZ(50px)}
    33%{transform: rotateY(90deg) translateZ(100px)}
    66%{transform: rotateY(90deg) translateZ(-100px)}
    100% {transform: rotateY(90deg) translateZ(50px)}
}

@keyframes pulse-right{
    0% {transform: rotateY(90deg) translateZ(-50px)}
    33%{transform: rotateY(90deg) translateZ(-100px)}
    66%{transform: rotateY(90deg) translateZ(100px)}
    100% {transform: rotateY(90deg) translateZ(-50px)}
}

@keyframes pulse-bottom{
    0% {transform:rotateX(90deg) translateZ(50px)}
    33%{transform:rotateX(90deg) translateZ(100px)}
    66%{transform:rotateX(90deg) translateZ(-100px)}
    100% {transform:rotateX(90deg) translateZ(50px)}
}

@keyframes pulse-top{
    0% {transform:rotateX(90deg) translateZ(-50px)}
    33%{transform:rotateX(90deg) translateZ(-100px)}
    66%{transform:rotateX(90deg) translateZ(100px)}
    100% {transform:rotateX(90deg) translateZ(-50px)}
}

@keyframes pulse-front{
    0% {transform:translateZ(50px)}
    33%{transform:translateZ(100px)}
    66%{transform:translateZ(-100px)}
    100% {transform:translateZ(50px)}
}

@keyframes pulse-back{
    0% {transform:translateZ(-50px)}
    33%{transform:translateZ(-100px)}
    66%{transform:translateZ(100px)}
    100% {transform:translateZ(-50px)}
}